*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width:100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        // height: 300px;
        width: 500px;
        background-color: white;
        border-radius: 10px;
        padding: 20px;


        p{
            padding: 10px;
            font-family: monospace;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            text-align: center;

            span{
                color: rgb(58, 58, 255);
            }
        }
    

        .outer{
            height: 20px;
            width: 100%;
            background-color: rgb(222, 222, 222);

            border-radius: 10px;


            .inner{
                
                height: 100%;
                width: 40%;
                border-radius: 10px;
                background-color: rgb(91, 188, 39);
            }
        }

        .bottom{
            padding: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;


            h2{
                font-size: 80px;
                font-weight: 400;
                font-family: monospace;
            }

            button{
                padding: 20px 25px;
                background-color: rgb(91, 188, 39);
                border: none;
                border: 1px solid black;
                font-size:  40px ;
                border-radius: 10px;
            }
        }


    }
}