*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 250px;
    text-align: center;
    color: rgb(0, 170, 255);
}

button{
    height: 130px;
    width: 150px;
    background-color: beige;
    color: red;
    margin-left: 270px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 5px solid rgb(191, 0, 255);

    font-size: 20px;
    font-weight: 600;
}

h2{
    font-style: italic;
    font-size: 110px;
    text-align: center;
    margin-top: 40px;
}

h3{
    font-style: italic;
    font-size: 110px;
    text-align: center;
    margin-top: 20px;
}