*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width:100%;
  overflow: hidden;
}
main{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


    .box{
        width: 100%;
        height: 100%;
        border-bottom: 2px solid white;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        
        h2{
          padding-left: 20px;
          font-size: 80px;
          font-weight: 700;
          position: relative;
          z-index: 9;
          mix-blend-mode: difference;
        }

    
    
        img{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            transform: translate(-50%, -50%);
            transition: all linear 0.3s;
            opacity: 0;
            // pointer-events: none;
        }
    }
}
